[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple" 
verify_ssl = true

[dev-packages]
flake8 = "*"
watchdog = "*"
ipython = "*"

[packages]
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"

[requires]
python_version = "3.7"
