[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple" 
verify_ssl = true

[dev-packages]
flake8 = "*"
watchdog = "*"
ipython = "*"
faker = "*"

[packages]
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
sendgrid = "*"
flask-moment = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.7"
